<ion-view style="" title="Blood Pressure">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">Guidelines</div>
            <div class="item item-body">
                <div style="">
                    <p>Rest for 3-5 minutes,</p>

                    <p>Sit in a comfortable chair with your back supported,leg and arms uncrossed.</p>

                    <p>place your arm raised to be at level with your heart on a table or any hard surface.</p>

                    <p>Wrap the cuff smoothly and snugly around the upper part of your arm.</p>

                    <p>Press the button at the digital monitor and record the Blood Pressure reading on your screen.</p>
                </div>
            </div>
        </div>
        <form style="" class="list">
            <label style="" name="bp_reading" class="item item-input">
                <span class="input-label">Blood Pressure Reading</span>
                <input placeholder="" type="number">
            </label>
            <a style="" class="button button-royal button-block " ui-sref="menu.bPChart">Go</a>
        </form>
    </ion-content>
</ion-view>