<ion-view style="" title="General info">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h1 style="">Hypertension in pregnancy</h1>
        <div style="">
            <div style="" class="list card">
            <div class="item item-divider">Definition & Types</div>
            <div class="item item-body">
                <div style="">
                    <p>Hypertension in pregnancy is one of the top five causes of high maternity rate in Kenya at the moment. There are various types which include:
                        <ul style="list-style-type:disc">
                      <li><p>Chronic Hypertension :This hypertension takes prior to pregnancy or early stages</p></li>
                      <li><p>Gestational Hypertension :This hypertension occurs during the 20th week of pregnancy but ends after pregnancy</p></li>
                      <li><p>Pre-eclampsia :This is a serious type of  hypertension as it can lead to complication to bady organs and can lead to death of the mother and child</p></li>
                      <li><p>Eclampsia : This is pre-eclampsia with seizures</p></li>
                    </ul> 
                         
                </div>
            </div>
        </div>
        	<div style="" class="list card">
            <div class="item item-divider">Why it goes undetected ?</div>
            <div class="item item-body">
                <div style="">
                    <p>These types of hypertension goes undetected because of various issues such as lack of adequate knowledge to the mothers, mothers not taking antenatal care seriously, not monitoring blood pressure frequently for early detection and many more</p>
                </div>
            </div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">How to deal with it...</div>
            <div class="item item-body">
                <div style="">
                    <p>Get adequate information, attend anenatal care, regular blood pressure monitoring, diet rich in calcium nutrients don't ignore warning signs </p>
                     
                </div>
            </div>
        </div>
         


    </ion-content>
</ion-view>