<ion-view style="" title="Home">
    <ion-content class="has-header" overflow-scroll="true" padding="true">

        <form style="" class="list">
            <ion-list style=""></ion-list>
        </form><center><h1 style="color:rgb(51,122,183);"><b>JIKIMU<b></h1></center> 
        <center><h3 style="font-style: italic;"><i>A safe pregnancy journey<i></h3></center>
        <form style="" class="list">
            <div style="text-align: center;">
                <img src="img/YVkWz4DvSD2E0EH8Iuct_preggs.jpg" height="auto" width="50%">
            </div>

            <!-- <div>
                <center><p><h3 style="font-style: italic;"><i>Get neccessary information on hypertension, your risk level and monitoring of blood pressure and weight <i></h3></p></center>
            </div> -->
          
        <div style="background-color:rgb(51,122,183);" class="list card">
            <div class="item item-divider" style="background-color:rgba(56, 126, 245, 0.51)">On the Menu</div>
            <div class="item item-body">
                <div style="">
                     <center><p><h2 style="font-style: italic;"><i>Get neccessary information on hypertension, your risk level and monitoring of blood pressure and weight <i></h2></p></center>
                         
                </div>
            </div>
        </div>
        </form>

      
    </ion-content>
</ion-view>
