<ion-view style="" title="Home">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <ion-list style=""></ion-list>
        </form><center><h1 style="">Jikimu</h1></center> 
        <form style="" class="list">
            <div style="text-align: center;">
                <img src="img/YVkWz4DvSD2E0EH8Iuct_preggs.jpg" height="auto" width="50%">
            </div>
          
         
        </form>
      
    </ion-content>
</ion-view>