<ion-view style="" title="Settings">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <div style="">
                <p>Turn on the various reminders to get an alert</p>
            </div>
            <ion-toggle style="" name="weight_reminder" toggle-class="toggle-royal" ng-checked="true">weight</ion-toggle>
            <ion-toggle style="" name="bp" toggle-class="toggle-royal" ng-checked="true">BP reading</ion-toggle>
            <ion-toggle style="" toggle-class="toggle-positive">Toggle</ion-toggle>
        </form>
    </ion-content>
</ion-view>