<ion-view style="" title="weight">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">Weight monitoring</div>
            <div class="item item-body">
                <div style="">
                    <p>Weight is a manifestation of high Blood pressure and for this reason its necessary to monitor your weight.</p>

                    <!-- <p>Ensure you have not carried anything that can add to your weight.</p> -->
                </div>
            </div>
        </div>
        <div style="">
            <p>Ensure you have not carried anything that can add to your weight.</p>
        </div>
        <div style="" class="list" >
           
            <label style="" name="weight" class="item item-input">
                <span class="input-label">Enter your weight</span>
                <input placeholder="in Kgs" type="number" ng-model="weight.wtvalue" required>
            </label>
            <!-- <a style="" class="button button-royal button-block " ui-sref="menu.weightChart">Go</a> -->
            <button ng-click="submitweight()" class="button button-block button-positive icon-right ion-android-arrow-forward">GO</button>
        </div>
    </ion-content>
</ion-view>